.news-data{
    padding: 10px 70px;
   
   

}
.card-img-top{
    border-bottom: 2px solid #ffc011  ;
}
.btn{
    background-color:#ffc011 ;
    color: black;
}
.btn:hover{
    background-color:#ffc011 ;
}
.button-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.newsloader{
    margin: 216px 600px;
}


